* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  background: #fff;
  margin: 0 auto;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));
  position: relative;
}

/* ----------------Header---------------------------------------------- */

.logo {
  display: flex;
  justify-content: center;
  background: #99823D;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(90px + (326 - 90) * ((100vw - 320px) / (1440 - 320)));
  z-index: 100;
}

.logo img {
  padding-top: calc(10px + (35 - 10) * ((100vw - 320px) / (1440 - 320)));
  padding-bottom: calc(10px + (35 - 10) * ((100vw - 320px) / (1440 - 320)));
  /* width: calc(90px + (190 - 90) * ((100vw - 320px) / (1440 - 320))); */
  width: 80%;
}

.header {
  position: relative;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));

}

.header__absolute {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));
  z-index: 10;
}

.header__worlds {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));
  justify-content: space-between;
  padding-left: calc(100px + (350 - 100) * ((100vw - 320px) / (1440 - 320)));
  height: calc(30px + (70 - 30) * ((100vw - 320px) / (1440 - 320)));
}

/* ------------Адаптив шапки сайту для планшетів-------------------- */
@media(max-width:1200px) {
  .header {
    width: 100%;
    z-index: 10;
  }

  .header__worlds {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .headerNav .navItem a {
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1200 - 320)));
    line-height: 25px;
    margin: 1px;
  }
}

.headerInfo ul {
  display: flex;
  gap: calc(10px + (36 - 10) * ((100vw - 320px) / (1440 - 320)));
  align-items: center;

}

.headerInfo {
  display: flex;
  margin-right: calc(10px + (36 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.headerInfo__item {
  height: calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
}

.navItem a:hover {
  color: black;
  background-color: #fff;
}

.Architecture a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /* calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320))); */
  font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(9px + (15 - 9) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.Made a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(9px + (15 - 9) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav {}

.headerNav nav ul {
  display: flex;
  gap: calc(10px + (36 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.navItem a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + (11 - 9) * ((100vw - 320px) / (1440 - 320)));
  ;
  line-height: 34px;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* ----------------Адаптив шапки сайту для всіх телефонів ---------------------- */
@media(max-width:820px) {
  .wrapper {
    width: 100vw;
  }

  .logo {
    width: 100%;
  }

  .logo img {
    width: 20%;
  }

  .header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .headerInfo {
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .header__worlds {
    left: 50%;
    transform: translateX(-50%);
    margin: 12% auto 0 auto;
    padding: 0px;
    width: 100%;
  }

  .header nav ul {
    gap: calc(6px + (14 - 6) * ((100vw - 320px) / (820 - 320)));
  }

  .headerNav .navItem a {
    line-height: 14px;
    font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (820 - 320)));
  }
}

/* --------------------main------------------------------------------------- */
.main {
  position: absolute;
  background-color: #141414;
  height: calc(9px + (660 - 9) * ((100vw - 320px) / (1440 - 320)));
  background-color: #141414;
  z-index: 1;
  width: 100%;
}

.main__img img {
  margin-top: calc(50px + (68 - 50) * ((100vw - 320px) / (1440 - 320)));
  position: absolute;
  z-index: 2;
  width: calc(50px + (978 - 50) * ((100vw - 320px) / (1440 - 320)));
  height: calc(50px + (591 - 50) * ((100vw - 320px) / (1440 - 320)));
}

.soc {
  margin-top: calc(85px + (659 - 85) * ((100vw - 320px) / (1440 - 320)));
  background: #EBEBEB;
  width: calc(50px + (978 - 50) * ((100vw - 320px) / (1440 - 320)));
  height: calc(50px + (93 - 50) * ((100vw - 320px) / (1440 - 320)));
}

.soc ul {
  display: flex;
  gap: calc(10px + (37 - 10) * ((100vw - 320px) / (1440 - 320)));
  align-items: center;
  height: calc(50px + (93 - 50) * ((100vw - 320px) / (1440 - 320)));
}

.soc__item a {
  margin-left: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
  line-height: 68px;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #000000;
}

.ventage {
  position: absolute;
  z-index: 3;
  top: calc(8px + (136 - 8) * ((100vw - 320px) / (1440 - 320)));
  left: calc(8px + (700 - 8) * ((100vw - 320px) / (1440 - 320)));
  background: #fff;
  width: calc(8px + (584 - 8) * ((100vw - 320px) / (1440 - 320)));
  height: calc(250px + (455 - 250) * ((100vw - 320px) / (1440 - 320)));
  padding: calc(30px + (68 - 30) * ((100vw - 320px) / (1440 - 320)));
}

.ventage__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #99823D;
}

.ventage__title {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (67 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1px + (67 - 1) * ((100vw - 320px) / (1440 - 320)));
  text-transform: capitalize;
  color: #141414;
  margin-bottom: calc(1px + (32 - 1) * ((100vw - 320px) / (1440 - 320)));
}

.ventage__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (17 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: 26px;
  color: #141414;
  margin-bottom: 15px;
}

.ventage__buttons {
  display: flex;
  justify-content: space-between;
}

.ventage__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(8px + (68 - 8) * ((100vw - 320px) / (1440 - 320)));
  width: calc(8px + (216 - 8) * ((100vw - 320px) / (1440 - 320)));
  background: #99823D;

}

.ventage__button2 {
  background: #141414;
}

.button1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(8px + (18 - 8) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #99823D;

}

.button2 {
  display: inline-block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(8px + (18 - 8) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #141414;
}

.braunQatro {
  position: absolute;
  width: calc(220px + (489 - 250) * ((100vw - 320px) / (1440 - 320)));
  height: calc(8px + (329 - 8) * ((100vw - 320px) / (1440 - 320)));
  left: calc(200px + (860 - 200) * ((100vw - 320px) / (1440 - 320)));
  top: calc(126px + (423 - 125) * ((100vw - 320px) / (1440 - 320)));
  background: #99823D;
  z-index: 2;
}

/* ------------Адаптив шапки сайту для планшетів-------------------- */
@media(max-width:1200px) {
  .main__img {
    margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .soc {
    margin-top: calc(115px + (589 - 115) * ((100vw - 320px) / (1200 - 320)));
  }

  .soc ul {
    justify-content: space-evenly;
  }

  .soc__item a {
    font-size: calc(3px + (18 - 3) * ((100vw - 320px) / (1200 - 320)));
  }

  /* ------------------------------------------------------------------------------- */
  .ventage {
    top: calc(59px + (125 - 50) * ((100vw - 320px) / (1200 - 320)));
    left: calc(8px + (600 - 8) * ((100vw - 320px) / (1200 - 320)));
    background: #fff;
    width: calc(100px + (400 - 50) * ((100vw - 320px) / (1200 - 320)));
    height: calc(50px + (490 - 90) * ((100vw - 320px) / (1200 - 320)));
    padding: calc(25px + (38 - 30) * ((100vw - 320px) / (1200 - 320)));
  }
  .ventage__title {
    font-size: calc(8px + (67 - 8) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: calc(1px + (42 - 10) * ((100vw - 320px) / (1200 - 320)));
  }
  .braunQatro{
    width: calc(220px + (489  - 390) * ((100vw - 320px) / (1200 - 320)));
    height: calc(8px + (300  - 33) * ((100vw - 320px) / (1200 - 320)));
    left:  calc(50px + (760  - 280) * ((100vw - 320px) / (1200 - 320)));
    top: calc(112px + (314  - 112) * ((100vw - 320px) / (1200 - 320)));
    background: #99823D;
    z-index: 2;
  }
}

/* ----------------Адаптив шапки сайту для всіх телефонів ---------------------- */
@media(max-width:820px) {
  .main__img {
    margin-top: calc(30px + (100 - 30) * ((100vw - 320px) / (820 - 320)));
    width: 100%;
  }

  .main__img img {
    width: 100%;
    height: calc(150px + (591 - 150) * ((100vw - 320px) / (820 - 320)));
  }

  .soc {
    margin-top: calc(230px + (749 - 230) * ((100vw - 320px) / (820 - 320)));
    width: 100%;
  }

  .soc ul {
    justify-content: space-evenly;
  }

  .soc__item a {
    font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (820 - 320)));
  }
  /* ---------------------- */
  .ventage {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: calc(50px + (490 - 90) * ((100vw - 320px) / (820 - 320)));
    padding: calc(25px + (38 - 30) * ((100vw - 320px) / (820 - 320)));
  }
  .braunQatro{
    width: 0;
  }
}