* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  background: #fff;
  margin: 0 auto;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));
  position: relative;
}

/* /////////////////////////////////////Header///////////////////////////////////// */

.logo {
  display: flex;
  justify-content: center;
  background: #99823D;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(90px + (326 - 90) * ((100vw - 320px) / (1440 - 320)));
  z-index: 100;
}

.logo img {
  padding-top: calc(10px + (35 - 10) * ((100vw - 320px) / (1440 - 320)));
  padding-bottom: calc(10px + (35 - 10) * ((100vw - 320px) / (1440 - 320)));
  /* width: calc(90px + (190 - 90) * ((100vw - 320px) / (1440 - 320))); */
  width: 80%;
}

.header {
  position: relative;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));

}

.header__absolute {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));
  z-index: 10;
}

.header__worlds {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(320px + (1300 - 320) * ((100vw - 320px) / (1440 - 320)));
  justify-content: space-between;
  padding-left: calc(100px + (350 - 100) * ((100vw - 320px) / (1440 - 320)));
  height: calc(30px + (70 - 30) * ((100vw - 320px) / (1440 - 320)));
}

/* /////////////////////////////////////Адаптив шапки сайту для планшетів///////////////////////////////////// */
@media(max-width:1200px) {
  .header {
    width: 100%;
    z-index: 10;
  }

  .header__worlds {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .headerNav .navItem a {
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1200 - 320)));
    line-height: 25px;
    margin: 1px;
  }
}

.headerInfo ul {
  display: flex;
  gap: calc(10px + (36 - 10) * ((100vw - 320px) / (1440 - 320)));
  align-items: center;

}

.headerInfo {
  display: flex;
  margin-right: calc(10px + (36 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.headerInfo__item {
  height: calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
}

.navItem a:hover {
  color: black;
  background-color: #fff;
}

.Architecture a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /* calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320))); */
  font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(9px + (15 - 9) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.Made a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(9px + (15 - 9) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav {}

.headerNav nav ul {
  display: flex;
  gap: calc(10px + (36 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.navItem a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + (11 - 9) * ((100vw - 320px) / (1440 - 320)));
  ;
  line-height: 34px;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* /////////////////////////////////////Адаптив шапки сайту для всіх телефонів ///////////////////////////////////// */
@media(max-width:820px) {
  .wrapper {
    width: 100vw;
  }

  .logo {
    width: 100%;
  }

  .logo img {
    width: 20%;
  }

  .header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .headerInfo {
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .header__worlds {
    left: 50%;
    transform: translateX(-50%);
    margin: 12% auto 0 auto;
    padding: 0px;
    width: 100%;
  }

  .header nav ul {
    gap: calc(6px + (14 - 6) * ((100vw - 320px) / (820 - 320)));
  }

  .headerNav .navItem a {
    line-height: 14px;
    font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (820 - 320)));
  }
}

/* /////////////////////////////////////main///////////////////////////////////// */
.main {
  position: absolute;
  background-color: #141414;
  height: calc(9px + (660 - 9) * ((100vw - 320px) / (1440 - 320)));
  background-color: #141414;
  z-index: 1;
  width: 100%;
}

.main__img img {
  margin-top: calc(50px + (68 - 50) * ((100vw - 320px) / (1440 - 320)));
  position: absolute;
  z-index: 2;
  width: calc(50px + (978 - 50) * ((100vw - 320px) / (1440 - 320)));
  height: calc(50px + (591 - 50) * ((100vw - 320px) / (1440 - 320)));
}

.soc {
  margin-top: calc(85px + (659 - 85) * ((100vw - 320px) / (1440 - 320)));
  background: #EBEBEB;
  width: calc(50px + (978 - 50) * ((100vw - 320px) / (1440 - 320)));
  height: calc(50px + (93 - 50) * ((100vw - 320px) / (1440 - 320)));
}

.soc ul {
  display: flex;
  gap: calc(10px + (37 - 10) * ((100vw - 320px) / (1440 - 320)));
  align-items: center;
  height: calc(50px + (93 - 50) * ((100vw - 320px) / (1440 - 320)));
}

.soc__item a {
  margin-left: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
  line-height: 68px;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #000000;
}

.ventage {
  position: absolute;
  z-index: 3;
  top: calc(8px + (136 - 8) * ((100vw - 320px) / (1440 - 320)));
  left: calc(8px + (700 - 8) * ((100vw - 320px) / (1440 - 320)));
  background: #fff;
  width: calc(8px + (584 - 8) * ((100vw - 320px) / (1440 - 320)));
  height: calc(250px + (455 - 250) * ((100vw - 320px) / (1440 - 320)));
  padding: calc(30px + (68 - 30) * ((100vw - 320px) / (1440 - 320)));
}

.ventage__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #99823D;
}

.ventage__title {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (67 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1px + (67 - 1) * ((100vw - 320px) / (1440 - 320)));
  text-transform: capitalize;
  color: #141414;
  margin-bottom: calc(1px + (32 - 1) * ((100vw - 320px) / (1440 - 320)));
}

.ventage__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (17 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: 26px;
  color: #141414;
  margin-bottom: 15px;
}

.ventage__buttons {
  display: flex;
  justify-content: space-between;
}

.ventage__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(8px + (68 - 8) * ((100vw - 320px) / (1440 - 320)));
  width: calc(8px + (216 - 8) * ((100vw - 320px) / (1440 - 320)));
  background: #99823D;

}

.ventage__button2 {
  background: #141414;
}

.button1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(8px + (18 - 8) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #99823D;

}

.button2 {
  display: inline-block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(8px + (18 - 8) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #141414;
}

.braunQatro {
  position: absolute;
  width: calc(220px + (489 - 250) * ((100vw - 320px) / (1440 - 320)));
  height: calc(8px + (329 - 8) * ((100vw - 320px) / (1440 - 320)));
  left: calc(200px + (860 - 200) * ((100vw - 320px) / (1440 - 320)));
  top: calc(126px + (423 - 125) * ((100vw - 320px) / (1440 - 320)));
  background: #99823D;
  z-index: 2;
}

/* /////////////////////////////////////Адаптив шапки сайту для планшетів///////////////////////////////////// */
@media(max-width:1200px) {
  .main__img {
    margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .soc {
    margin-top: calc(115px + (589 - 115) * ((100vw - 320px) / (1200 - 320)));
  }

  .soc ul {
    justify-content: space-evenly;
  }

  .soc__item a {
    font-size: calc(3px + (18 - 3) * ((100vw - 320px) / (1200 - 320)));
  }

  /* ////////////////////////////////////////////////////////////////////////// */
  .ventage {
    top: calc(59px + (125 - 50) * ((100vw - 320px) / (1200 - 320)));
    left: calc(8px + (600 - 8) * ((100vw - 320px) / (1200 - 320)));
    background: #fff;
    width: calc(100px + (400 - 50) * ((100vw - 320px) / (1200 - 320)));
    height: calc(50px + (490 - 90) * ((100vw - 320px) / (1200 - 320)));
    padding: calc(25px + (38 - 30) * ((100vw - 320px) / (1200 - 320)));
  }

  .ventage__title {
    font-size: calc(8px + (67 - 8) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: calc(1px + (42 - 10) * ((100vw - 320px) / (1200 - 320)));
  }

  .braunQatro {
    width: calc(220px + (489 - 390) * ((100vw - 320px) / (1200 - 320)));
    height: calc(8px + (300 - 33) * ((100vw - 320px) / (1200 - 320)));
    left: calc(50px + (760 - 280) * ((100vw - 320px) / (1200 - 320)));
    top: calc(112px + (314 - 112) * ((100vw - 320px) / (1200 - 320)));
    background: #99823D;
    z-index: 2;
  }
}

/* /////////////////////////////////////Адаптив шапки сайту для всіх телефонів ///////////////////////////////////// */
@media(max-width:820px) {
  .main__img {
    margin-top: calc(30px + (100 - 30) * ((100vw - 320px) / (820 - 320)));
    width: 100%;
  }

  .main__img img {
    width: 100%;
    height: calc(150px + (591 - 150) * ((100vw - 320px) / (820 - 320)));
  }

  .soc {
    margin-top: calc(230px + (749 - 230) * ((100vw - 320px) / (820 - 320)));
    width: 100%;
  }

  .soc ul {
    justify-content: space-evenly;
  }

  .soc__item a {
    font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (820 - 320)));
  }

  /* ///////////////////////////////////// */
  .ventage {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: auto;
    padding: calc(25px + (38 - 30) * ((100vw - 320px) / (820 - 320)));
  }

  .ventage__title {
    font-size: calc(30px + (87 - 30) * ((100vw - 320px) / (820 - 320)));
    margin-bottom: calc(1px + (42 - 10) * ((100vw - 320px) / (820 - 320)));
  }

  .ventage__subtitle {
    padding: calc(25px + (38 - 25) * ((100vw - 320px) / (820 - 320)));
    font-size: calc(10px + (42 - 10) * ((100vw - 320px) / (820 - 320)));
    padding-bottom: calc(10px + (42 - 10) * ((100vw - 320px) / (820 - 320)));
    ;
  }

  .ventage__text {
    font-size: calc(10px + (25 - 10) * ((100vw - 320px) / (820 - 320)));
    line-height: 26px;
  }

  .braunQatro {
    width: 0;
  }

  .ventage__button {
    padding: 30;
    height: calc(30px + (68 - 30) * ((100vw - 320px) / (820 - 320)));
    width: calc(100px + (216 - 100) * ((100vw - 320px) / (820 - 320)));
  }

  .ventage__button2 {
    background: #141414;
  }

  .button1 {
    font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (820 - 320)));
    line-height: calc(8px + (18 - 8) * ((100vw - 320px) / (820 - 320)));
  }

  .button2 {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (820 - 320)));
    line-height: calc(8px + (18 - 8) * ((100vw - 320px) / (820 - 320)));
    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #141414;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////// */
.ItsOur {
  background-color: #EBEBEB;
  height: calc(8px + (860 - 8) * ((100vw - 320px) / (1440 - 320)));
  ;
}

.ItsOur__absolute__allWidth {
  width: calc(390px + (1440 - 390) * ((100vw - 320px) / (1440 - 320)));
  height: calc(800px + (872 - 800) * ((100vw - 320px) / (1440 - 320)));
  ;
  position: absolute;
  z-index: 2;
  left: -70px;
  background-color: #ffffff;
  padding: calc(8px + (130 - 8) * ((100vw - 320px) / (1440 - 320)));
  ;
}

.ItsOur__info {
  display: flex;
  gap: calc(8px + (100 - 8) * ((100vw - 320px) / (1440 - 320)));
}

.left__text {
  width: calc(170px + (683 - 170) * ((100vw - 320px) / (1440 - 320)));
}

.left__text__subtitle {}

.subtitle__our {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  /* identical to box height, or 151% */

  letter-spacing: 2.7625px;
  text-transform: uppercase;

  color: #99823D;
}

.left__text__title {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 53px;
  /* or 100% */

  text-transform: capitalize;
  padding-bottom: calc(8px + (28 - 8) * ((100vw - 320px) / (1440 - 320)));
  color: #141414;

}

.left__text__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #141414;
  padding-bottom: calc(8px + (58 - 8) * ((100vw - 320px) / (1440 - 320)));
  ;
}

.left__text__text p {
  margin-bottom: 16px;
}

.right__text {
  width: calc(100px + (323 - 100) * ((100vw - 320px) / (1440 - 320)));
  ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right__text__subtitle {}

.right__text__title {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  /* or 100% */

  text-transform: capitalize;

  color: #141414;
}

.k {}

.k ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.point {
  width: 9px;
  height: 9px;
}

.bolt__text {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-size: calc(8px + (59 - 8) * ((100vw - 320px) / (1440 - 320)));
  line-height: 59px;
  text-align: center;
  color: #141414;
}

.k ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media(max-width:1200px) {
  .ItsOur__absolute__allWidth {
    height: calc(1000px + (1050 - 1000) * ((100vw - 320px) / (1200 - 320)));
    ;
  }

  .left__text {
    width: calc(300px + (683 - 300) * ((100vw - 320px) / (820 - 320)));
  }

  .right__text {
    width: calc(300px + (683 - 300) * ((100vw - 320px) / (820 - 320)));

  }
}

@media(max-width:820px) {
  .ItsOur__info {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .ItsOur__absolute__allWidth {
    width: calc(320px + (820 - 320) * ((100vw - 320px) / (820 - 320)));
    height: calc(1000px + (750 - 1000) * ((100vw - 320px) / (820 - 320)));
    left: 0px;
    padding-bottom: calc(8px + (10 - 8) * ((100vw - 320px) / (820 - 320)));
    ;
  }

  .point {
    width: 5px;
    height: 5px;
  }

  .subtitle__our {

    font-size: calc(8px + (17 - 8) * ((100vw - 320px) / (820 - 320)));
  }

  .bolt__text {
    font-size: calc(20px + (39 - 20) * ((100vw - 320px) / (820 - 320)));
    line-height: 18px;
  }

  .right__text {
    margin-bottom: 20px;
  }

  .left__text__title {
    font-size: calc(30px + (39 - 30) * ((100vw - 320px) / (820 - 320)));
  }
}

/* ///////////////////////////////////////////////////////////////////////////////// */
.three__photo {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(30px + (400 - 30) * ((100vw - 320px) / (1440 - 320)));
  ;
  gap: calc(15px + (34 - 15) * ((100vw - 320px) / (1440 - 320)));
}

.card {
  width: 100%;
  height: calc(30px + (343 - 30) * ((100vw - 320px) / (1440 - 320)));
  ;
  ;
  position: relative;
  margin-top: 10px;
}

.img__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
}

.frame {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newInCard {
  position: absolute;
  background: #141414;
  font-family: 'Open Sans';
  width: 25%;
  padding: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: calc(3px + (11 - 3) * ((100vw - 320px) / (1440 - 320)));
  line-height: 16px;
  /* identical to box height, or 148% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.title__card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Teko';
  z-index: 6;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + (26 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(3px + (26 - 3) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #000000;

}

.category__card {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  z-index: 5;
  height: 25%;
  display: flex;
  align-items: start;
  justify-content: center;
  background: #99823D;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(5px + (11 - 5) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(10px + (34 - 10) * ((100vw - 320px) / (1440 - 320)));
  ;
  /* identical to box height, or 309% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #FFFFFF;
}

/* /////////////////////////////////////Адаптив шапки сайту для всіх телефонів ///////////////////////////////////// */
@media(max-width:820px) {
  .three__photo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: calc(310px + (700 - 310) * ((100vw - 320px) / (820 - 320)));
    height: calc(650px + (1300 - 650) * ((100vw - 320px) / (820 - 320)));
    gap: calc(7px + (10 - 7) * ((100vw - 320px) / (820 - 320)));
  }

  .card {
    width: calc(300px + (700 - 300) * ((100vw - 320px) / (820 - 320)));
    height: calc(300px + (700 - 300) * ((100vw - 320px) / (820 - 320)));
    position: relative;
  }

  .category__card {
    font-size: calc(10px + (11 - 10) * ((100vw - 320px) / (820 - 320)));
    line-height: calc(20px + (34 - 20) * ((100vw - 320px) / (820 - 320)));
  }

  .title__card {
    font-size: calc(20px + (11 - 20) * ((100vw - 320px) / (820 - 320)));
    line-height: calc(20px + (34 - 20) * ((100vw - 320px) / (820 - 320)));

  }

  .newInCard {
    font-size: calc(10px + (11 - 10) * ((100vw - 320px) / (1440 - 320)));

  }
}

/* ////////////////////////////////////////////////////////// */
.architecture {
  margin-top: 30px;
  width: calc(375px + (1180 - 375) * ((100vw - 320px) / (1440 - 320)));
}

.architecture__bg__absolute {
  position: absolute;
  top: -30;
  left: 0;
  width: calc(390px + (1440 - 390) * ((100vw - 320px) / (1440 - 320)));
  ;
  height: calc(600px + (800 - 600) * ((100vw - 320px) / (1440 - 320)));
  z-index: -1;
  background-color: #fff;
}

.architecture__subt {
  text-align: center;

}

.architecture__title {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + (53 - 10) * ((100vw - 320px) / (1440 - 320)));
  ;
  line-height: 53px;
  /* or 100% */
  margin-bottom: calc(20px + (82 - 20) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  text-transform: capitalize;

  color: #141414;

}

.architecture__cards {
  width: calc(300px + (1180 - 300) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.architecture__card {
  width: calc(10px + (300 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.imgCardAndTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.imgForCard {
  width: calc(10px + (68 - 10) * ((100vw - 320px) / (1440 - 320)));
  height: calc(10px + (68 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.architecture__card__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title__card__arch {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + (26 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: 26px;
  text-transform: capitalize;
  color: #141414;

}

.architecture__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + (17 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: 26px;
  color: #141414;
}

.architecture__button {
  margin-top: calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
}

.architecture__button a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(9px + (18 - 9) * ((100vw - 320px) / (1440 - 320)));
  color: #FFFFFF;
  padding: 25px 100px 25px 100px;
  background: #99823D;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media(max-width:820px) {
  .architecture {
    width: calc(300px + (700 - 300) * ((100vw - 320px) / (820 - 320)));
    ;
  }

  .architecture__bg__absolute {
    width: calc(390px + (1440 - 390) * ((100vw - 320px) / (820 - 320)));
    ;
    height: 600px;

  }

  .architecture__cards {
    width: calc(300px + (700 - 300) * ((100vw - 320px) / (820 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: calc(10px + (20 - 10) * ((100vw - 320px) / (820 - 320)));
    box-sizing: border-box;
  }

  .architecture__bg__absolute {
    position: absolute;
    top: -30;
    left: 0;
    width: calc(320px + (820 - 320) * ((100vw - 320px) / (820 - 320)));
    ;
    height: calc(600px + (700 - 600) * ((100vw - 320px) / (820 - 320)));
    z-index: -1;
    background-color: #fff;
  }

  .architecture__card {
    width: calc(10px + (300 - 10) * ((100vw - 320px) / (820 - 320)));
    min-width: 250px;
  }

  .architecture__button a {
    font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(9px + (18 - 9) * ((100vw - 320px) / (1440 - 320)));
  }
}
@media(max-width:589px) {
  .architecture {
    width: calc(300px + (700 - 300) * ((100vw - 320px) / (820 - 320)));
  }

  .architecture__bg__absolute {
    width: calc(390px + (1440 - 390) * ((100vw - 320px) / (820 - 320)));
    height: 600px;

  }
  .imgCardAndTitle{
    justify-content: center;
  }
  .imgForCard{
    width: 50px;
    height: 50px;
  }
  .title__card__arch{
    font-size: calc(25px + (29 - 25) * ((100vw - 320px) / (589 - 320)));
  }

  .architecture__cards {
    width: calc(300px + (700 - 300) * ((100vw - 320px) / (820 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: calc(10px + (20 - 10) * ((100vw - 320px) / (820 - 320)));
    box-sizing: border-box;
  }

  .architecture__bg__absolute {
    position: absolute;
    top: -30;
    left: 0;
    width: calc(320px + (820 - 320) * ((100vw - 320px) / (820 - 320)));
    height: calc(990px + (830 - 990) * ((100vw - 320px) / (589 - 320)));
    z-index: -1;
    background-color: #fff;
  }

  .architecture__card {
    width: calc(10px + (500 - 10) * ((100vw - 320px) / (589 - 320)));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 0;
    margin-bottom: 10px;
  }

  .architecture__button a {
    padding: 20px 40px 20px 40px;
    font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (589 - 320)));
    line-height: calc(9px + (18 - 9) * ((100vw - 320px) / (589 - 320)));
  }
}
/* ///////////////////footer///////////////////// */
.footer{
  margin-top: calc(1900px + (2739 - 1900) * ((100vw - 320px) / (1440 - 320)));;
  width: 100%;
  height: 617px;
  background: #EBEBEB;
  position: absolute;
  z-index: 1000;
}
.footer__absolut{
  display: flex;
  justify-content: center;
}
.footer__brends{
  margin-top: 70px;
  width: 82%;
}
.footer__brends ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(80px + (34 - 80) * ((100vw - 320px) / (1440 - 320)));
}
.brend {
  width: calc(80px + (154 - 80) * ((100vw - 320px) / (1440 - 320)));
}

.grey__footer {
  margin-top: calc(80px + (134 - 80) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
  background: #3D3D3D;
  justify-content: space-between;
  padding:  calc(80px + (68 - 80) * ((100vw - 320px) / (1440 - 320)));
  height: calc(80px + (272 - 80) * ((100vw - 320px) / (1440 - 320)));
  z-index: 1;
}
.logo__footer{
  width: calc(80px + (132 - 80) * ((100vw - 320px) / (1440 - 320)));
  height: calc(80px + (34 - 80) * ((100vw - 320px) / (1440 - 320)));
}
.grey__footer ul li a{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 34px;
/* identical to box height, or 309% */

text-align: center;
letter-spacing: 2.7625px;
text-transform: uppercase;

color: #FFFFFF;
}
.grey__footer ul {
gap: 37px;
}
.brawn__input{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  margin: 0 auto;
  transform: translateY(-82%);
  width: calc(80px + (1140 - 80) * ((100vw - 320px) / (1440 - 320)));
  height: calc(80px + (204 - 80) * ((100vw - 320px) / (1440 - 320)));
  background: #99823D;
}
.input1 {
  width: calc(80px + (860 - 80) * ((100vw - 320px) / (1440 - 320)));
  height: calc(80px + (68 - 80) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 34px;
/* identical to box height, or 309% */

text-align: center;
letter-spacing: 2.7625px;
text-transform: uppercase;
border: none;
color: #3D3D3D;

}
.input2 {
  background: #141414;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 34px;
/* identical to box height, or 309% */

text-align: center;
letter-spacing: 2.7625px;
text-transform: uppercase;

border: none;
color: #FFFFFF;
height: calc(80px + (68 - 80) * ((100vw - 320px) / (1440 - 320)));
padding: 0 37px;
}
.black__footer{
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: calc(80px + (1440 - 80) * ((100vw - 320px) / (1440 - 320)));
  height: calc(80px + (239 - 80) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 2;
}
.black__footer div a{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 34px;
  /* identical to box height, or 309% */

  
  text-align: center;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
}
.licensing {
}
.licensing__link {
}

